<li class="text-center">
  {% comment %} <h1 class="text-xl">{{ user.first_name }} {{ user.last_name }} #รูป</h1> {% endcomment %}
</li>
<li>
  <a href="{% url 'add_staff' %}" class="flex items-center p-2 py-3 text-[#0c0d18] rounded-lg dark:text-white hover:bg-[#fafdff]/90 md:hover:bg-[#eef7fc]/70 dark:hover:bg-[#0c0d18] dark:md:hover:bg-[#272c4f] group">
    <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
    <span span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium bg-[#d0d4ff] rounded-full dark:bg-[#707ec0]">{{sidebar_staff}}</span>
  </a>
</li>
<li>
  <a href="{% url 'add_machine' %}" class="flex items-center p-2 py-3 text-[#0c0d18] rounded-lg dark:text-white hover:bg-[#fafdff]/90 hover:md:bg-[#eef7fc]/70 dark:hover:bg-[#0c0d18] dark:md:hover:bg-[#272c4f] group">
    <span class="flex-1 ms-3 whitespace-nowrap">Machine</span>
    <span span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium bg-[#d0d4ff] rounded-full dark:bg-[#707ec0]">{{sidebar_machine}}</span>
  </a>
</li>
<li>
  <a href="{% url 'add_size' %}" class="flex items-center p-2 py-3 text-[#0c0d18] rounded-lg dark:text-white hover:bg-[#fafdff]/90 hover:md:bg-[#eef7fc]/70 dark:hover:bg-[#0c0d18] dark:md:hover:bg-[#272c4f] group">
    <span class="flex-1 ms-3 whitespace-nowrap">Size Machine</span>
    <span span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium bg-[#d0d4ff] rounded-full dark:bg-[#707ec0]">{{sidebar_size}}</span>
  </a>
</li>
<li>
  <a href="{% url 'add_option' %}" class="flex items-center p-2 py-3 text-[#0c0d18] rounded-lg dark:text-white hover:bg-[#fafdff]/90 hover:md:bg-[#eef7fc]/70 dark:hover:bg-[#0c0d18] dark:md:hover:bg-[#272c4f] group">
    <span class="flex-1 ms-3 whitespace-nowrap">Options</span>
    <span span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium bg-[#d0d4ff] rounded-full dark:bg-[#707ec0]">{{sidebar_service}}</span>
  </a>
</li>

