<li class="text-center">
  {% comment %} <h1 class="text-xl">{{ user.first_name }} {{ user.last_name }} #รูป</h1> {% endcomment %}
</li>
<li>
  <a href="{% url 'profile' %}" class="flex items-center p-2 py-3 text-[#0c0d18] rounded-lg dark:text-white hover:bg-[#fafdff]/90 md:hover:bg-[#eef7fc]/70 dark:hover:bg-[#313a73] dark:md:hover:bg-[#313a73] group">
    <span class="flex-1 ms-3 whitespace-nowrap">Edit profile</span>
  </a>
</li>
<li>
  <a href="{% url 'password_change' %}" class="flex items-center p-2 py-3 text-[#0c0d18] rounded-lg dark:text-white hover:bg-[#fafdff]/90 md:hover:bg-[#eef7fc]/70 dark:hover:bg-[#313a73] dark:md:hover:bg-[#313a73] group">
    <span class="flex-1 ms-3 whitespace-nowrap">Change password</span>
  </a>
</li>
