{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Index
{% endblock %}

{% block main %}
<div class="flex items-center justify-center flex-col my-12"> <!-- Flex column for vertical stacking -->
  <h1 class="text-4xl font-bold text-center mb-8">Welcome to Laundry System!</h1> <!-- Main heading above the cards -->

  <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8"> <!-- Responsive flex container -->
      <div class="transition-transform hover:scale-110 bg-lapiz-50 border-lapiz-300 dark:bg-lapiz-950 dark:border-lapiz-800 border p-8 rounded-lg shadow-lg max-w-md">  <!-- Enhanced card styles -->
          <h2 class="text-3xl font-bold text-center">Reserve Laundry Machine</h2> <!-- Adjusted title -->
          <p class="text-center mt-4 text-lapiz-800 dark:text-lapiz-100">Easily book available laundry machines for your preferred time. View real-time availability and secure your slot for a smooth, hassle-free laundry experience.</p>
      </div>
      <div class="transition-transform hover:scale-110 bg-lapiz-50 border-lapiz-300 dark:bg-lapiz-950 p-8 dark:border-lapiz-800 border rounded-lg shadow-lg max-w-md">  <!-- Enhanced card styles -->
          <h2 class="text-3xl font-bold text-center">Manage Reservation</h2> <!-- Adjusted title -->
          <p class="text-center mt-4 text-lapiz-800 dark:text-lapiz-100">Update, modify, or cancel your existing reservations with ease. Keep track of your bookings and make changes as needed.</p>
      </div>
      <div class="transition-transform hover:scale-110 bg-lapiz-50 border-lapiz-300 dark:bg-lapiz-950 dark:border-lapiz-800 border p-8 rounded-lg shadow-lg max-w-md">  <!-- Enhanced card styles -->
          <h2 class="text-3xl font-bold text-center">Review Our Service</h2> <!-- Adjusted title -->
          <p class="text-center mt-4 text-lapiz-800 dark:text-lapiz-100">Share your feedback and rate the quality of our service to help us improve and serve you better.</p>
      </div>
  </div>
</div>
    {% if user.role == 'cus' %}

      <div class="w-fit m-auto my-3">
        <a href="{% url 'reserve_machine' %}">
          <button {%if machine_size.count == 0 %}disabled{%endif%} class="text-white bg-[#4e5ea9] hover:bg-[#3c488d] active:bg-[#313a73] disabled:bg-[#e9eaf5] disabled:dark:bg-[#292d51] disabled:text-[#707ec0] px-4 py-2 rounded-lg">
            {%if machine_size.count == 0 %}No machine avaliable{%else%}Reserve machine{%endif%}
          </button>
        </a>
      </div>
    {% endif %}

      <div class="space-y-6 p-4 md:px-32 lg:px-52">
        {% for size in machine_size %}
            {% if size.machine_set.count %}
                <div class="max-h-[40dvh] md:max-h-[50dvh] lg:max-h-[60dvh] overflow-y-auto p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg">
                <form method="POST" id="machine-form">
                    {% csrf_token %}

                    <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-7">
                        <h2 class="text-base font-semibold leading-7">Size {{ size.size }}</h2>
                        <p>{{ size.cost }} Baht</p>
                        <p>{{ size.capacity }} KG</p>
                        <p class="mt-1 text-sm leading-6 text-[#4c569b]">This information will be displayed publicly so be careful what you share.</p>
                    </div>
                    </div>

                    <div class="flex flex-col gap-x-6 gap-y-8 px-6 md:px-16 lg:px-52">
                      <div class="mt-2 flex flex-row flex-wrap gap-x-10 gap-y-12 justify-items-center">
                          {% comment %}Machine{% endcomment %}
                          {% for machine in size.machine_set.all %}
                          {% if machine.status_health %}
                          <div>
                              <div class="relative">
                              <div class="absolute z-0 {% if machine.status_available %}
                                  bg-teal-500
                                  {% else %}
                                  bg-red-700
                                  {% endif %} rounded-full size-8 md:size-6 lg:size-4"></div>
                              </div>
                              <img class="mt-1 md:mt-2 w-28 md:w-24 lg:w-16" src="{% static 'images/washing_machine_color.png' %}" alt="" />
                              <div>
                              <p class="text-center">{{ machine.code }}</p>
                              <p class="text-center">{{ machine.machine_size.size }}</p>
                              </div>
                          </div>
                          {% endif %}
                          {% endfor %}
                      </div>
                    </div>
                </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
