{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  {% if user.is_authenticated %}
    {% if user.role == 'cus' %}

      <div class="w-fit m-auto my-3">
        <a href="{% url 'reserve_machine' %}">
          <button {%if machine_size.count == 0 %}disabled{%endif%} class="bg-[#4e5ea9] hover:bg-[#3c488d] active:bg-[#313a73] disabled:bg-[#e9eaf5] disabled:dark:bg-[#292d51] disabled:text-[#707ec0]  px-4 py-2 rounded-lg">
            Reserve machine
          </button>
        </a>
      </div>

      <div class="space-y-6 p-4 md:px-32 lg:px-52">
        {% for size in machine_size %}
            {% if size.machine_set.count %}
                <div class="max-h-[33dvh] md:max-h-[50dvh] lg:max-h-[60dvh] overflow-y-auto p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg">
                <form method="POST" id="machine-form">
                    {% csrf_token %}

                    <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-7">
                        <h2 class="text-base font-semibold leading-7">Size {{ size.size }} ({{ size.capacity }})KG</h2>
                        <p class="mt-1 text-sm leading-6 text-[#4c569b]">This information will be displayed publicly so be careful what you share.</p>
                    </div>
                    </div>

                    <div class="flex flex-col gap-x-6 gap-y-8 px-6 md:px-16 lg:px-52">
                    <div class="mt-2 flex flex-row flex-wrap gap-x-10 gap-y-12 justify-items-center">
                        {% comment %}Machine{% endcomment %}
                        {% for machine in size.machine_set.all %}
                        <div>
                            <div class="relative">
                            <div class="absolute z-0 {% if machine.status_available %}
                                bg-teal-500
                                {% else %}
                                bg-red-700
                                {% endif %} rounded-full size-4 md:size-6 lg:size-8"></div>
                            </div>
                            <img class="mt-1 md:mt-2 w-20 md:w-24 lg:w-36" src="{% static 'images/washing_machine_color.png' %}" alt="" />
                            <div>
                            <p class="text-center">{{ machine.code }}</p>
                            <p class="text-center">{{ machine.machine_size.size }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
