{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        TEST
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    {% block css %}

    {% endblock %}
    <style>
      .errorlist {
        font-size: small;
        color: red;
        margin-left: 10px;
        margin-top: 5px;
      }
    </style>
  </head>
  <body class="bg-[#eef7fc] text-[#1b1e36] dark:bg-[#1b1e36] dark:text-[#eef7fc]">
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}

    {% block head %}

    {% endblock %}

    <main>
      {% block main %}

      {% endblock %}
    </main>

    {% block script %}
      <script></script>
    {% endblock %}
    <script>
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
        const newColorScheme = event.matches ? 'dark' : 'light'
        if (newColorScheme == "dark"){
          document.getElementById('logo').src = "{% static 'images/washing-machine-white.svg' %}"
        }else{
          document.getElementById('logo').src = "{% static 'images/washing-machine.svg' %}"
        }
      })
    </script>
  </body>
</html>
