{% load static %}
<nav class="border-gray-200 navbar flex flex-row justify-between place-items-center py-4 px-3">
  {% comment %} LOGO {% endcomment %}
  <div class="">
    <a href="{% url 'index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="{% static 'images/washing-machine.svg' %}" class="h-8 bg-white dark:bg-transparent" id="logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Laundry</span>
    </a>
  </div>

  {% comment %} NAVBAR {% endcomment %}
  <div class="flex flex-wrap items-center justify-start md:justify-center gap-3">
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-[#1b1e36] rounded-lg md:hidden hover:bg-[#f1f7fa] focus:outline-none focus:ring-2 focus:ring-[#e1f3fc] dark:text-[#eef7fc] dark:hover:bg-[#252949] dark:focus:ring-[#4c569b]" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul id="link" class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-md bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent dark:bg-[#1b1e36] md:dark:bg-transparent">
        <li>
          <a href="{% url 'index' %}" class="block py-2 px-3 transition-colors duration-300 text-[#1b1e36] bg-blue-700 rounded md:bg-transparent md:text-[#4c569b] md:hover:text-[#4c569b] md:dark:hover:text-[#4c569b] md:p-0 dark:text-white md:dark:text-[#4c569b]" aria-current="page">Home</a>
        </li>
        {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'login' %}" class="block py-2 px-3 transition-colors duration-300 text-[#1b1e36] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#4c569b] md:p-0 dark:text-white md:dark:hover:text-[#4c569b] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign in</a>
          </li>
          <li class="transition-colors duration-300 bg-[#4c569b] hover:bg-[#3b4682] rounded px-2">
            <a href="{% url 'register' %}" class="block py-2 px-3 transition-colors duration-300 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign up</a>
          </li>
        {% else %}
          <li>
            <a href="#" class="block py-2 px-3 transition-colors duration-300 text-[#1b1e36] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#4c569b] md:p-0 dark:text-white md:dark:hover:text-[#4c569b] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{ user.email }}</a>
          </li>
          <li class="transition-colors duration-300 bg-[#4c569b] hover:bg-[#3b4682] rounded px-2">
            {% comment %}Logout ต้องใช้ Method post{% endcomment %}
            <form action="{% url 'logout' %}" method="post" class="m-0">
              {% csrf_token %}
              <button type="submit" class="block py-2 px-3 transition-colors duration-300 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</button>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script>
  // Make selected menu become purple-color
  const a = document.getElementById("link").getElementsByTagName("a")
  const exclude = ["Sign up", "Logout"]
  for (let i=0;i<a.length;i++){
    if (a[i].href == location.href && !exclude.includes(a[i].text)){
      a[i].classList.remove("md:dark:hover:text-[#4c569b]", "dark:text-white", "text-white", "dark:hover:text-white")
      a[i].classList.add("md:text-[#4c569b]", "dark:text-[#4c569b]")
      break;
    }else a[i].classList.remove("md:text-[#4c569b]", "dark:text-[#4c569b]", "md:dark:text-[#4c569b]")
  }
</script>
