{% extends 'layout.html' %}
{% block title %}Complete{% endblock %}
{% block main %}
  {% include '../sidebar.html' %}

  <div class="p-4 sm:ml-64">
    <!-- border -->
    <div class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg">
      <!-- Change password -->
      <form action="{% url 'profile' %}" method="GET">
        {% csrf_token %}
        <!-- introduction -->
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-7">
            <h2 class="text-base font-semibold leading-7">Complete changed your password</h2>
            <p class="mt-1 text-sm leading-6 text-[#4c569b]">You can go <button class="p-0" type="submit"><span class="underline">back</span></button>.</p>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  setTimeout(()=>{
    show_alert("Change to new password.")
  })
</script>
{% endblock %}