{% extends 'layout.html' %}
{% block title %}Change Password{% endblock %}
{% block main %}
  {% include '../sidebar.html' %}

  <div class="p-4 sm:ml-64">
    <!-- border -->
    <div class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg">
      <!-- Change password -->
      <form method="POST">
        {% csrf_token %}
        <!-- introduction -->
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-7">
            <h2 class="text-base font-semibold leading-7">Change password</h2>
            <p class="mt-1 text-sm leading-6 text-[#4c569b]">Users can modify their passwords to improve the security of their accounts.</p>
          </div>
        </div>

        <div class="mt-5 flex flex-col gap-x-6 gap-y-8 px-6 md:px-16 lg:px-52">
          <!-- New password -->
          <div class="flex flex-col grow">
            <label for="{{ form.new_password1.id_for_label }}">New password</label>
            <input class="mt-2 rounded-lg shadow-sm bg-[#f9fbfc] dark:bg-[#353a55] border border-gray-300 dark:border-gray-600 focus:border-[#4c569b] focus:ring-1 focus:ring-[#4c569b] py-2 px-3 text-gray-900 dark:text-white transition read-only:border-opacity-50 read-only:bg-opacity-50 read-only:text-opacity-70" type="password" name="new_password1" id="{{ form.new_password1.id_for_label }}" placeholder="Must have at least 8 characters" />
            <p class="text-red-500 text-sm mt-1">{{ form.new_password1.errors }}</p>
          </div>

          <!-- Comfirm password -->
          <div class="flex flex-col grow">
            <label for="{{ form.new_password2.id_for_label }}">Confirm password</label>
            <input class="mt-2 rounded-lg shadow-sm bg-[#f9fbfc] dark:bg-[#353a55] border border-gray-300 dark:border-gray-600 focus:border-[#4c569b] focus:ring-1 focus:ring-[#4c569b] py-2 px-3 text-gray-900 dark:text-white transition read-only:border-opacity-50 read-only:bg-opacity-50 read-only:text-opacity-70" type="password" name="new_password2" id="{{ form.new_password2.id_for_label }}" placeholder="Repeat password" />
            <p class="text-red-500 text-sm mt-1">{{ form.new_password2.errors }}</p>
          </div>

          <!-- Old password -->
          <div class="flex flex-col grow">
            <label for="{{ form.old_password.id_for_label }}">Old passowrd</label>
            <input class="mt-2 rounded-lg shadow-sm bg-[#f9fbfc] dark:bg-[#353a55] border border-gray-300 dark:border-gray-600 focus:border-[#4c569b] focus:ring-1 focus:ring-[#4c569b] py-2 px-3 text-gray-900 dark:text-white transition read-only:border-opacity-50 read-only:bg-opacity-50 read-only:text-opacity-70" type="password" name="old_password" id="{{ form.old_password.id_for_label }}" placeholder="Current password" />
            <p class="text-red-500 text-sm mt-1">{{ form.old_password.errors }}</p>
          </div>
          
          <button class="w-full mt-6 bg-[#4e5ea9] hover:bg-[#3c488d] active:bg-[#313a73] text-white font-semibold py-3 px-4 rounded-lg shadow-md transition-all duration-300">Change password</button>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
