<div class="block">
  <aside class="fixed left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto navbar">
      <ul class="space-y-2 font-medium mb-4">
        <li class="text-center">
          <h1 class="text-xl">Profile #รูป</h1>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#eef7fc]/70 dark:hover:bg-[#272c4f] group">
            <span class="flex-1 ms-3 whitespace-nowrap">Edit profile</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-[#eef7fc]/70 dark:hover:bg-[#272c4f] group">
            <span class="flex-1 ms-3 whitespace-nowrap">Change password</span>
          </a>
        </li>
        </li>
      </ul>
      <hr>
    </div>
  </aside>
</div>
