{% load static %}

<div class="block">
  <aside class="fixed left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" id="sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto navbar">
      <ul class="space-y-2 font-medium mb-4">
        <li class="text-center">
          {% comment %} <h1 class="text-xl">{{ user.first_name }} {{ user.last_name }} #รูป</h1> {% endcomment %}
        </li>
        <li>
          <a href="{% url 'profile' %}" class="flex items-center p-2 text-[#1b1e36] rounded-lg dark:text-white hover:bg-[#d6dee3] md:hover:bg-[#eef7fc]/70 dark:hover:bg-[#1b1e36] dark:md:hover:bg-[#272c4f] group">
            <span class="flex-1 ms-3 whitespace-nowrap">Edit profile</span>
          </a>
        </li>
        <li>
          <a href="{% url 'password_change' %}" class="flex items-center p-2 text-[#1b1e36] rounded-lg dark:text-white hover:bg-[#d6dee3] hover:md:bg-[#eef7fc]/70 dark:hover:bg-[#1b1e36] dark:md:hover:bg-[#272c4f] group">
            <span class="flex-1 ms-3 whitespace-nowrap">Change password</span>
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </aside>
</div>