<li>
  <a href="{% url 'login' %}" class="block py-2 pl-3 pr-6 md:pr-3 transition-colors duration-300 text-[#1b1e36] hover:bg-[#eef7fc]/70 dark:hover:bg-[#272c4f] md:text-[#1b1e36] md:dark:text-[#4c569b] md:hover:text-[#4c569b] rounded md:bg-transparent dark:text-[#4c569b] md:dark:hover:text-white">Sign in</a>
</li>
<li class="m-0 transition-colors duration-300 bg-[#4c569b] hover:bg-[#3b4682] rounded cursor-pointer">
  <a href="{% url 'register' %}" class="block py-2 pl-3 pr-6 md:pr-3 pr-auto transition-colors duration-300 text-white md:hover:bg-transparent md:border-0 dark:text-white dark:hover:text-white md:dark:hover:bg-transparent text-start">Sign up</a>
</li>
