<li>
  <a href="{% url 'add_staff' %}" class="block py-2 pl-3 pr-6 md:pr-3 transition-colors duration-300 text-[#0c0d18] hover:bg-[#eef7fc]/70 dark:hover:bg-[#272c4f] md:text-[#0c0d18] md:dark:text-[#4c569b] md:hover:text-[#4c569b] rounded md:bg-transparent dark:text-[#4c569b] md:dark:hover:text-white">Manage Service</a>
</li>
{% comment %} <li>
  <a href="{% url 'report' %}" class="block py-2 pl-3 pr-6 md:pr-3 transition-colors duration-300 text-[#0c0d18] hover:bg-[#eef7fc]/70 dark:hover:bg-[#272c4f] md:text-[#0c0d18] md:dark:text-[#4c569b] md:hover:text-[#4c569b] rounded md:bg-transparent dark:text-[#4c569b] md:dark:hover:text-white">Report</a>
</li> {% endcomment %}
<hr class="border-black/10 dark:border-white/10" />