{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Manage Reserve
{% endblock %}

{% block main %}
<div class="flex flex-col sm:flex-row">
  {% include 'staff/sidebar.html'%}

<div class="space-y-6 p-4 sm:ml-44 grow">
        {% for size in machine_size %}
            {% if size.machine_set.count %}
            {% comment %} div for space when using sidebar {% endcomment %}
            <div id="manager-reserve-size-{{size.size}}" class="h-1"></div> 
            {% comment %} <div id="manager-reserve-size-{{size.size}}" class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg"> {% endcomment %}
              <div  class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682]  dark:bg-[#4c569b]/20 border-dashed rounded-lg">
                <form method="POST" id="machine-form">
                    {% csrf_token %}

                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-7">
                            <h2 class="text-base font-semibold leading-7">Size {{ size.size }} ({{ size.capacity }})KG</h2>
                            <p class="mt-1 text-sm leading-6 text-[#4c569b]">This information will be displayed publicly so be careful what you share.</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-x-6 gap-y-8 px-6 items-center">
                        <div class="mt-2 flex flex-row flex-wrap gap-x-10 gap-y-12 justify-items-center">
                            {% for machine in size.machine_set.all %}
                                <div>
                                    <div class="mb-1 md:mb-2">
                                        <div id='{{machine_code}}-status' class="absolute {% if machine.status_available %}bg-teal-500{% else %}bg-red-700{%endif%} rounded-full size-4 md:size-6 lg:size-8"></div>
                                    </div>
                                    <img class="w-20 md:w-24 lg:w-36" src="{% static 'images/washing_machine_color.png' %}" alt="">
                                    <div>
                                        <p class="w-20 md:w-24 lg:w-36 text-center">{{ machine.code }}</p>
                                        <p id="{{ machine.code }}-duration" class="w-20 md:w-24 lg:w-36 text-center">TREM: {{machine.duration}} min(s)</p>

                                        <input type="text" name="name" id="{{machine.code}}-input" 
                                        class="mt-2 w-20 md:w-24 lg:w-36 rounded-lg shadow-sm bg-[#f9fbfc] dark:bg-[#353a55] border border-gray-300 dark:border-gray-600 focus:border-[#4c569b] focus:ring-1 focus:ring-[#4c569b] py-2 px-3 text-gray-900 dark:text-white transition read-only:border-opacity-50 read-only:bg-opacity-50 read-only:text-opacity-70" 
                                        placeholder="Code">

                                    </div>
                                    <div class="mt-3 w-20 md:w-24 lg:w-36 text-center">
                                      {% if machine.status_available %}
                                      <a id="{{ machine.code }}-button" 
                                      onclick="confirmFunction('{{machine.code}}', '{{machine.code}}-input', '{{ machine.code }}-duration', {{machine.duration}})" 
                                      class="cursor-pointer py-1 px-2 rounded-lg text-white bg-teal-500">Comfirm</a>
                                      {% else %}
                                      <a id="{{ machine.code }}-reset" 
                                      onclick="resetTime('{{ machine.code }}', {{machine.duration}})" 
                                      class="cursor-pointer py-1 px-2 rounded-lg text-white bg-red-700">Reset</a>
                                      {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
              
                {% comment %} {% if options %} {% endcomment %}
                <div class="xl:px-36">
                    <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg m-3 mt-10">
                        <table class="w-full text-sm text-left rtl:text-right">
                          <thead class="text-xs uppercase shadow-sm bg-gray-200 dark:bg-[#4c569b] text-[#4c569b] dark:text-white/60">
                                <tr>
                                    <!-- column name : Service Name  -->
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                      Queue
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <div class="flex items-center">
                                        Reserve Code
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                        Reserve Time
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                        Customer Name
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                        Reserve Status
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-[#4c569b]/80 dark:text-white/80">
                            <!-- show service data -->
                            {% for reserve in reserved %}
                              {% if reserve.machine_size == size%}
                              <tr class="border-b border-black/10 dark:border-white/10 bg-[#fafdff]/40 dark:bg-[#3b4682]/80">
                                      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{forloop.counter}}
                                      </td>
                                      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                          <span id="{{reserve.code}}">{{reserve.code}}</span>
                                          {% comment %} copy icon {% endcomment %}
                                          {% if reserve.status != 0 %}
                                          <a title="Copy code" onclick="copyFunction('{{reserve.code}}')"><img class="w-4 inline rounded-sm cursor-pointer" src="{% static 'images/Copy-icon.png' %}"></a>
                                          {% endif %}
                                      </td>
                                      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{reserve.arrive_at}}
                                      </td>
                                      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{reserve.user.first_name}} {{reserve.user.last_name}}
                                      </td>
                                      <td id=""class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{reserve.status_context}}
                                      </td>
                                      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      {% if reserve.status == 0 %}
                                        <a onclick="updateStatus({{reserve.id}})" class="cursor-pointer py-1 px-2 font-medium rounded-lg text-white bg-green-500 hover:bg-green-200">Accept</a>
                                      {% else %}
                                        <a onclick="" class="cursor-pointer py-1 px-2 font-medium rounded-lg text-white bg-red-600 hover:bg-red-400">Cancle</a>
                                      </td>
                                      {% endif %}
                                  </tr>
                                  {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% comment %} {% endif %} {% endcomment %}

          </div>
          {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script>
  //copy code
  function copyFunction(reserved_code){
    console.log(reserved_code)
    copy_text = document.getElementById(reserved_code).innerText;
    navigator.clipboard.writeText(copy_text)
  }
  
  function changeMachineAvaliable(machine_code){
    fetch("", {
      method:"POST",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'machine_code_avaliable': machine_code})
    })
    .then(response => response.json())
    .then(data => {location.reload();})
    .catch(error => {console.error('Error:', error);});
  }

  function confirmFunction(machine_code, inputID, element_duration, machine_duration) {
    var reserve_code = document.getElementById(inputID).value;
    console.log("Reserve Code: ", reserve_code);
    fetch("", {
      method:"POST",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'reserve_code_workable': reserve_code,
        'machine_code': machine_code})
    })
    .then(response => response.json())
    .then(data => {
      if (data.valid) {
          location.reload();
          //countdown(data.element_duration, data.machine_duration, data.inputID);
          var endTime = new Date().getTime() + machine_duration * 60000;
            // Store the end time in localStorage for this machine
            //localStorage.setItem(machine_code + '_reserveCode', reserve_code);
            localStorage.setItem(element_duration + '_endTime', endTime);
            localStorage.setItem(machine_code + '_reserveCode', reserve_code);

            countdown(element_duration, machine_duration, machine_code);
      } else {
          console.error('Invalid reserve code:', reserve_code);
      }})
    .catch(error => {console.error('Error:', error);});
  }

  function updateStatus(reserveId){
    console.log(reserveId)
    fetch("", {
      method:"POST",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'reserve_id': reserveId})
    })
    .then(response => response.json())
    .then(data => {location.reload();})
    .catch(error => {console.error('Error:', error);});
  }

  // Object to store interval IDs for each element
  var countdownIntervals = {};

  function countdown(element_duration, duration, machine_code) {
    // Clear any existing interval for this element
    if (countdownIntervals[element_duration]) {
        clearInterval(countdownIntervals[element_duration]);
    }

    // Get stored end time from localStorage if it exists
    var endTime = localStorage.getItem(element_duration + '_endTime');
    if (!endTime) {
        // If there's no stored end time, calculate a new future time
        var future = new Date().getTime() + duration * 60000;
        localStorage.setItem(element_duration + '_endTime', future);
        endTime = future;
    }

    // Start a new interval for the countdown
    countdownIntervals[element_duration] = setInterval(function() {
        // Get current time
        var now = new Date().getTime();

        // Calculate the distance between now and the future end time
        var distance = endTime - now;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        console.log("distance = " + distance + " minutes = " + minutes + " seconds = " + seconds);

        var new_duration = document.getElementById(element_duration);
        var new_Input = document.getElementById(machine_code+'-input');

        new_duration.innerText = "TREM: " + minutes + " m " + seconds + " s";

        // If the countdown is over, clear the interval and reset the text
        if (distance < 0) {
            resetTime(machine_code, duration)// Remove the stored end time
            location.reload();          
          }
    }, 1000);
}

// On page load, continue countdown if it was running before the refresh
window.onload = function() {
    document.querySelectorAll('[id$="-duration"]').forEach(function(element) {
        var element_duration = element.id;
        var storedEndTime = localStorage.getItem(element_duration + '_endTime');
        
        var machine_code = element_duration.split('-')[0];
        var storedReserveCode = localStorage.getItem(machine_code + '_reserveCode');
        if (storedReserveCode) {
            var inputField = document.getElementById(machine_code + '-input');
            if (inputField) {
                inputField.value = storedReserveCode; // Set the value of the input field to the stored reserve code
            }
        }

        if (storedEndTime) {
            // Calculate remaining time and continue countdown
            var remainingTime = (storedEndTime - new Date().getTime()) / 60000;
            if (remainingTime > 0) {
                countdown(element_duration, remainingTime, machine_code);
            } else {
                localStorage.removeItem(element_duration + '_endTime');  // If time is already up, clear storage
            }
        }
    });
}

function resetTime(machine_code, duration){

  clearInterval(countdownIntervals[machine_code+'-duration']);
  changeMachineAvaliable(machine_code);
  localStorage.removeItem(machine_code+'-duration' + '_endTime');
  localStorage.removeItem(machine_code + '_reserveCode');
  
  location.reload();
}

</script>
{% endblock %}