{% extends 'layout.html' %}
{% load static %}
{% load custom_filter %}

{% block title %}
  Manage Reserve
{% endblock %}

{% block main %}
<div class="flex flex-col sm:flex-row">
  {% include 'staff/sidebar.html'%}

<div class="space-y-6 p-4 sm:ml-44 grow">
        {% for size in machine_size %}
            {% if size.machine_set.count %}
            {% comment %} div for space when using sidebar {% endcomment %}
            <div id="manager-reserve-size-{{size.size}}" class="h-1"></div> 
            {% comment %} <div id="manager-reserve-size-{{size.size}}" class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg"> {% endcomment %}
              <div  class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682]  dark:bg-[#4c569b]/20 border-dashed rounded-lg">
                <form method="POST" id="machine-form">
                    {% csrf_token %}

                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-7">
                            <h2 class="text-base font-semibold leading-7">Size {{ size.size }} ({{ size.capacity }})KG</h2>
                            <p class="mt-1 text-sm leading-6 text-[#4c569b]">This information will be displayed publicly so be careful what you share.</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-x-6 gap-y-8 px-6 items-center">
                        <div class="mt-2 flex flex-row flex-wrap gap-x-10 gap-y-12 justify-items-center">
                            {% for machine in machines %}
                              {% if machine.machine_size == size %}
                                <div>
                                    <div class="mb-1 md:mb-2">
                                        <div id='{{machine_code}}-status' class="absolute {% if machine.status_available %}bg-teal-500{% else %}bg-red-700{%endif%} rounded-full size-4 md:size-6 lg:size-8"></div>
                                    </div>
                                    <img class="w-20 md:w-24 lg:w-36" src="{% static 'images/washing_machine_color.png' %}" alt="">
                                    <div>
                                        <p class="w-20 md:w-24 lg:w-36 text-center">{{ machine.code }}</p>
                                        {% if machine.status_available %}
                                        <p id="{{ machine.code }}-duration" class="w-20 md:w-24 lg:w-36 text-center">TREM: {{machine.duration}}</p>
                                        {% else %}
                                          <p id="{{ machine.code }}-duration" class="w-20 md:w-24 lg:w-36 text-center">TREM: {{ machine|current_reserve_work_til|timeuntil }}</p>
                                        {% endif %}

                                        <input type="text" name="name" id="{{machine.code}}-input" 
                                        class="mt-2 w-20 md:w-24 lg:w-36 rounded-lg shadow-sm bg-[#f9fbfc] dark:bg-[#353a55] border border-gray-300 dark:border-gray-600 focus:border-[#4c569b] focus:ring-1 focus:ring-[#4c569b] py-2 px-3 text-gray-900 dark:text-white transition read-only:border-opacity-50 read-only:bg-opacity-50 read-only:text-opacity-70" 
                                        placeholder="Code"
                                        {% if not machine.status_available %}
                                        value="{{machine|machine_working}}" readonly {% endif %}> 

                                    </div>
                                    <div class="mt-3 w-20 md:w-24 lg:w-36 text-center">
                                      {% if machine.status_available %}
                                      <a id="{{ machine.code }}-button" 
                                      onclick="confirmFunction('{{machine.code}}', '{{machine.code}}-input', '{{ machine.code }}-duration', {{machine.duration}})" 
                                      class="cursor-pointer py-1 px-2 rounded-lg text-white bg-teal-500 hover:bg-teal-600 activebg-teal-700">Confirm</a>
                                      {% else %}
                                      <a id="{{ machine.code }}-reset" 
                                      onclick="resetTime('{{ machine.code }}')" 
                                      class="cursor-pointer py-1 px-2 rounded-lg text-white bg-red-700">Reset</a>
                                      {% endif %}
                                    </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>
              
                {% comment %} {% if options %} {% endcomment %}
                {% if size.reserve_machine_set|reserve_sort_wait_workable %}
                <div class="xl:px-36">
                    <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg m-3 mt-10">
                        <table class="w-full text-sm text-left rtl:text-right">
                          <thead class="text-xs uppercase shadow-sm bg-gray-200 dark:bg-[#4c569b] text-[#4c569b] dark:text-white/60">
                                <tr>
                                    <!-- column name : Service Name  -->
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                      Queue
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <div class="flex items-center">
                                        Reserve Code
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                        Reserve Time
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                        Customer Name
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                       Options
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                      <div class="flex items-center">
                                        Reserve Status
                                      </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-[#4c569b]/80 dark:text-white/80">
                            <!-- show service data -->
                              {% for reserve in size.reserve_machine_set|reserve_sort_wait_workable|reserve_sort %}
                                <tr class="border-b border-black/10 dark:border-white/10 bg-[#fafdff]/40 dark:bg-[#3b4682]/80">
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      {{forloop.counter}}
                                    </td>
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex place-items-center gap-x-1">
                                        <span id="{{reserve.code}}">{{reserve.code}}</span>
                                        {% comment %} copy icon {% endcomment %}
                                        {% if reserve.status == 1 %}
                                        {% comment %} <img class="w-4 inline rounded-sm cursor-pointer" src="{% static 'images/Copy-icon.png' %}"> {% endcomment %}
                                        <svg onclick="copyFunction('{{reserve.code}}')" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline cursor-pointer hover:opacity-70 hover:bg-black/20 dark:hover:bg-black/50 rounded-full" >
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                                        </svg>
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                     {{reserve.arrive_at|date:"j M Y, H:i"}}
                                    </td>
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      {{reserve.user.get_full_name}}
                                    </td>
                                    <td class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      <div class="flex flex-col">
                                        {% for service in reserve.service.all %}
                                        <span>{{ service.name }}</span>
                                        {% endfor %}
                                      </div>
                                    </td>
                                    <td id=""class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      <div class="flex flex-row place-items-center gap-1">
                                        <div class="size-3 left-0 rounded-full {% if reserve.status != 3 and reserve.status != 4 %}animate-pulse{%endif%} {% if reserve.status == 0 %}bg-yellow-300{%elif reserve.status == 1%}bg-yellow-600{%elif reserve.status == 2%}bg-blue-300{%elif reserve.status == 3%}bg-green-300{%elif reserve.status == 4%}bg-red-300{%endif%}"></div>
                                        <span class="text-right">{{ reserve.status_context|title }}</span>
                                      </div>
                                    </td>
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {% if reserve.status == 0 %}
                                      <a onclick="updateStatus({{reserve.id}})" class="cursor-pointer py-1 px-2 font-medium rounded-lg text-white bg-green-500 hover:bg-green-600 active:bg-green-700">Accept</a>
                                    {% else %}
                                      <a onclick="deleteReservation({{reserve.id}})" class="cursor-pointer py-1 px-2 font-medium rounded-lg text-white bg-red-500 hover:bg-red-600 active:bg-red-700">Cancel</a>
                                    {% endif %}
                                    </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% comment %} {% endif %} {% endcomment %}

          </div>
          {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script>
  function deleteReservation(reserve_id){
    show_alert("Delete service successful.")
    fetch("",{
      method: "DELETE",
      headers:  {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'  // Send CSRF token in the request header
      },
      body: JSON.stringify({reserve_id})
    })
    .then(response => response.json())
    .then(setTimeout(()=>location.reload(true), 1200))
    .catch((error)=>{
      console.log(error)
    })
  }
  function updateStatus(reserveId){
    show_alert("Update status successful.")
    console.log(reserveId)
    fetch("", {
      method:"PUT",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'reserve_id': reserveId})
    })
    .then(response => response.json())
    .then(data => {location.reload(true);})
    .catch(error => {console.error('Error:', error);});
  }
  //copy code
  function copyFunction(reserved_code){
    show_alert("Copy code successful.")
    copy_text = document.getElementById(reserved_code).innerText;
    navigator.clipboard.writeText(copy_text)
  }
  
  function changeMachineAvaliable(machine_code){
    fetch("", {
      method:"PUT",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'machine_code_avaliable': machine_code})
    })
    .then(response => response.json())
    .then(data => {location.reload(true);})
    .catch(error => {console.error('Error:', error);});
  }

  function confirmFunction(machine_code, inputID, element_duration, machine_duration) {
    var reserve_code = document.getElementById(inputID).value;
    console.log("Reserve Code: ", reserve_code);
    fetch("", {
      method:"PUT",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'reserve_code_workable': reserve_code,
        'machine_code': machine_code})
    })
    .then(response => response.json())
    .then(data => {
      if (data.valid) {
          location.reload(true);
      } else {
          // show_alert("Reserve code should be in workable status.")
          console.error('Invalid reserve code:', reserve_code);
      }})
    .catch(error => {console.error('Error:', error);});
  }

  
  function resetTime(machine_code){
    fetch("", {
      method:"PUT",
      headers: {
        'Content-Type': 'application/json',
        'x-CSRFToken': '{{csrf_token}}'
      },
      body: JSON.stringify({
        'resetMachine': machine_code})
    })
    .then(data=>{
      changeMachineAvaliable(machine_code);
      location.reload(true);
    })

  }

</script>
{% endblock %}