{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Manage Reserve
{% endblock %}

{% block main %}
<div class="flex flex-col sm:flex-row">
  {% include 'sidebar.html' with count_size=count_size count_service=count_service count_machine=count_machine count_staff=count_staff %}

  <div class="space-y-6 p-4 grow">
        {% for size in machine_size %}
            {% if size.machine_set.count %}
            <div class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg">
                <form method="POST" id="machine-form">
                    {% csrf_token %}

                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-7">
                            <h2 class="text-base font-semibold leading-7">Size {{ size.size }} ({{ size.capacity }})KG</h2>
                            <p class="mt-1 text-sm leading-6 text-[#4c569b]">This information will be displayed publicly so be careful what you share.</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-x-6 gap-y-8 px-6 md:px-16 lg:px-52">
                        <div class="mt-2 flex flex-row flex-wrap gap-x-10 gap-y-12 justify-items-center">
                            {% comment %} Machine {% endcomment %}
                            {% for machine in size.machine_set.all %}
                                <div>
                                    <div class="mb-1 md:mb-2">
                                        <div class="absolute {% if machine.status_available %}bg-teal-500{% else %}bg-red-700{%endif%} rounded-full size-4 md:size-6 lg:size-8"></div>
                                    </div>
                                    <img class="w-20 md:w-24 lg:w-36" src="{% static 'images/washing_machine_color.png' %}" alt="">
                                    <div>
                                        <p class="text-center">{{ machine.code }}</p>
                                        <p class="text-center">{{ machine.machine_size.size }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if machines %}
      <div class="xl:px-36">
        <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg mt-3">
          <table class="w-full text-sm text-left rtl:text-right">
            <thead class="text-xs uppercase shadow-sm bg-white dark:bg-[#4c569b] text-[#4c569b] dark:text-white/60">
              <tr>
                <!-- column name : Machine Code -->
                <th scope="col" class="pl-6 py-3 max-w-10">
                  <div class="flex items-center">Machine Code</div>
                </th>
                <!-- column name : Size -->
                <th scope="col" class="pl-6 py-3 w-30 min-w-30">
                  <div class="flex items-center">Size</div>
                </th>

                <!-- column name : Duration -->
                <th scope="col" class="pl-6 py-3">
                  <div class="flex items-center">Duration</div>
                </th>
                
                <th></th>
              </tr>
            </thead>
            <tbody class="text-[#4c569b]/80 dark:text-white/80">
              <!-- show machine data -->
              {% for machine in machines %}
                <tr class="border-b border-black/10 dark:border-white/10 bg-[#fafdff]/40 dark:bg-[#3b4682]/80">
                  <th scope="row" class="pl-6 py-4 font-medium whitespace-nowrap ">{{ machine.code }}</th>

                  <td class="pl-6">{{ machine.machine_size }}</td>

                  <td class="pl-6">{{ machine.duration }}</td>

                  <td class="text-center">
                    <a onclick="delete_machine({{ machine.id }})" class="cursor-pointer py-1 px-2 font-medium rounded-lg text-white bg-red-600 hover:bg-red-400">Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function delete_machine(machine_id){
    fetch("",{
      method: "DELETE",
      headers:  {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'  // Send CSRF token in the request header
      },
      body: JSON.stringify({machine_id})
    })
    .then(response => response.json())
    .then(location.reload())
    .catch((error)=>{
      console.log(error)
    })
  }
</script>
{% endblock %}