{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Machine
{% endblock %}

{% block main %}
  {% include 'sidebar.html' with count_size=count_size count_service=count_service count_machine=count_machine count_staff=count_staff %}

  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-[#3b4682]/50 dark:border-[#3b4682] bg-[#4c579b0b] dark:bg-[#4c569b]/20 border-dashed rounded-lg">
      <form method="POST" id="machine-form">
        {% csrf_token %}

        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-7">
            <h2 class="text-base font-semibold leading-7">Manage Machine</h2>
            <p class="mt-1 text-sm leading-6 text-[#4c569b]">This information will be displayed publicly so be careful what you share.</p>
          </div>
        </div>

        <div class="flex flex-col gap-x-6 gap-y-8 px-6 md:px-16 lg:px-52">
          <div class="mt-5 flex flex-row flex-wrap gap-x-6 gap-y-8">

            <div class="flex flex-col grow">
              <label for="{{ form.code.id_for_label }}">Machine Code</label>
              {{ form.code }}
              <span class="text-xs text-[#4c569b]">({{ form.code.help_text }})</span>
              <p class="text-red-500 text-sm mt-1">{{ form.code.errors }}</p>
            </div>

            <div class="flex flex-col grow">
              <label for="{{ form.machine_size.id_for_label }}">Size</label>
              {{ form.machine_size }}
              <p class="text-red-500 text-sm mt-1">{{ form.machine_size.errors }}</p>
            </div>

            <div class="flex flex-col grow">
              <label for="{{ form.duration.id_for_label }}">Duration (Minutes)</label>
              {{ form.duration }}
              <p class="text-red-500 text-sm mt-1">{{ form.duration.errors }}</p>
            </div>

            <div class="flex flex-col grow self-end xl:mb-4">
              <div class="flex items-center gap-x-6 self-end justify-self-start">
                <button type="submit" class="rounded-md bg-[#4c569b] hover:bg-[#3b4682] px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Save</button>
                <button type="reset" class="text-sm font-semibold leading-6">Cancel</button>
              </div>
              <p></p>
            </div>

          </div>
        </div>
      </form>

    </div>

    {% if machines %}
      <div class="xl:px-36">
        <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg mt-3">
          <table class="w-full text-sm text-left rtl:text-right">
            <thead class="text-xs uppercase shadow-sm bg-white dark:bg-[#4c569b] text-[#4c569b] dark:text-white/60">
              <tr>
                <!-- column name : Machine Code -->
                <th scope="col" class="pl-6 py-3 max-w-10">
                  <div class="flex items-center">Machine Code</div>
                </th>
                <!-- column name : Size -->
                <th scope="col" class="pl-6 py-3 w-30 min-w-30">
                  <div class="flex items-center">Size</div>
                </th>

                <!-- column name : Duration -->
                <th scope="col" class="pl-6 py-3">
                  <div class="flex items-center">Duration</div>
                </th>
                
                <th></th>
              </tr>
            </thead>
            <tbody class="text-[#4c569b]/80 dark:text-white/80">
              <!-- show machine data -->
              {% for machine in machines %}
                <tr class="border-b border-black/10 dark:border-white/10 bg-[#fafdff]/40 dark:bg-[#3b4682]/80">
                  <th scope="row" class="pl-6 py-4 font-medium whitespace-nowrap ">{{ machine.code }}</th>

                  <td class="pl-6">{{ machine.machine_size }}</td>

                  <td class="pl-6">{{ machine.duration }}</td>

                  <td class="text-center">
                    <a href="{% url 'delete_machine' machine.id %}" class="py-1 px-2 font-medium rounded-lg text-white bg-red-600 hover:bg-red-400">Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

  </div>
{% endblock %}
