{% extends 'layout.html' %}
{% load static %}
{% load custom_filter %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  <div class="w-fit m-auto px-3 py-1 rounded my-3">
    <h1 class="text-3xl font-bold">Reserve Machine</h1>
  </div>
  <div class="p-4 md:px-32 lg:px-52 relative">
    <div class="absolute left-0 w-[100vw] flex flex-row justify-items-center m-3 gap-1 bg-[#e9eaf5] border-black/10 dark:bg-[#0c0d18] border dark:border-[#2c3360] rounded-xl transition-all duration-500" id="form_size">
      {% for size in machine_size %}
        <div onclick="select_size('{{size.id}}')" class="flex flex-col justify-items-center grow p-3 py-12 cursor-pointer hover:bg-[#ced2e9]/50 dark:hover:bg-[#2c3360] transition-colors duration-300 {% if forloop.first %}rounded-l-xl{%elif forloop.last %}rounded-r-xl{%endif%}">
          <div>
            <p class="text-center text-7xl md:text-8xl lg:text-9xl">{{ size.size }}</p>
            <p class="text-center text-md md:text-2xl lg:text-3xl bg-[#ced2e9] dark:bg-[#292d51] dark:border dark:border-[#707ec0] w-fit m-auto px-3 py-1 rounded-lg">Avaliable: {{ size.machine_set|machine_is_available_count }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="transition-opacity opacity-0 duration-500" id="form_reserve">
        <h1>This is form</h1>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
    const form_size = document.getElementById("form_size")
    const form_reserve = document.getElementById("form_reserve")
    function select_size(size){
        form_size.classList.toggle("opacity-0")
        form_size.classList.toggle("-translate-y-full")

        form_reserve.classList.toggle("opacity-0")
    } 
</script>
{% endblock %}